{% extends 'base.html' %}

{% block title %} Parent index {% endblock %}



{% block content %}

    <div class="jumbotron">
        <h3 class="display-5">Witaj w aplikacji MyVax</h3>
        <h3 class="display-5">{{ user.first_name }} {{ user.last_name }}</h3>
        <hr class="my-3">
        <br>
        <a href="/parent/update/{{ user.id }}" class="btn-lg">Zaktualizuj swoje dane.</a>
        <br>
        <a href="/parent/panel/{{ user.id }}" class="btn-lg">Lista zarejestrowanych dzieci.</a>
    </div>

{% endblock %}