{% extends 'base.html' %}

{% block title %} Child index {% endblock %}

{% block content %}

    <div class="jumbotron py-2 px-4">
        <h3 class="display-5">Dane dziecka</h3>
        <p class="lead">Poniżej znajdują się inofrmacje o realizacji bilansu zdrowia dzieca i planu szczepiń
            dziecka.</p>
        <p class="lead">Wybierz odpowiedni przycisk, aby zobaczyć szczegóły.</p>
        <p class="lead font-weight-bold">{{ child.first_name }} {{ child.last_name }}</p>

        <p> data urodzenia:  {{ child.date_of_birth|date:"Y/m/d " }},
            {% if child.age_in_day < 30 %}
                wiek w dniach: {{ child.age_in_day }}
            {% elif child.age_in_day >= 30 and child.age_in_day <= 365  %}
                wiek w miesiącach: {{ child.age_in_month }},
            {% else %}
                wiek w latach: {{ child.age }},
            {% endif %}
        {#   pobiera dane z listy wyobru   #}
            płeć: {{ child.get_sex_display }}
        </p>
        <hr class="my-2">
        <a class="btn btn-success" href="{% url 'parent-panel' parent %}" role="button">Powrót do listy dzieci</a>
    </div>

    <div class="jumbotron py-2 px-4">
        <h3 class="display-5">Bilanse zdrowia dziecka</h3>
        <hr class="my-2">
        <a id="btn-1" class="btn btn-success" href="" role="button">Ukryj szczegóły</a>
        <a id="btn-2" class="btn btn-success" href="" role="button">Pokaż szczegóły</a>

        {# div id=div-1 służy do ukrywania i odkrywania danych o bilansach zdrowia   #}
        <div id="div-1">

            {#   bilans zdrowia   #}
{#            <p class="font-weight-bold">{{ child_h_rs }}</p>#}

            <ul class="lead">
                {% for review in health_rev %}

                    <li class="m-2">
                        {#   jeśli brak daty szczepienia wyświetla na czerwono    #}
                        {% if not review.workup_day %}
                            <a class="text-danger">{{ review.get_name_child_review_display }}</a>
                        {% else %}
                            <a class="text-success">{{ review.get_name_child_review_display }}</a>
                        {% endif %}

                        <a href="{% url 'health-rev-update' child.id review.id %}"
                           role="button"
                           class="btn btn-info btn-sm">
                            Edytuj dane
                        </a>
                        <br>
                        wymagana data badania: {{ review.exp_workup_day|date:"Y / m / d" }}<br>
                        data badania: {{ review.workup_day|date:"Y / m / d" }}<br>
                        obserwacje i zalecenia: {{ review.remarks }}
                    </li>

                {% empty %}
                    {{ "To dziecko nie ma jeszcze dodanych bilansów zdrowia." }}
                {% endfor %}
            </ul>
            <hr class="my-2">
        </div>
    </div>

    <div class="jumbotron py-2 px-4">
        <h3 class="display-5">Lista szczepień dziecka</h3>
        <hr class="my-2">
        <a id="btn-3" class="btn btn-success" href="" role="button">Ukryj szczegóły</a>
        <a id="btn-4" class="btn btn-success" href="" role="button">Pokaż szczegóły</a>


        <div class="jumbotron py-2 font-italic">
            {% for item in vax_program %}
                <a> {{ item.vax_program_name }} </a>
            {% empty %}
                {{ "To dziecko nie ma jeszcze dodanego programu szczepień." }}
            {% endfor %}
        </div>

        {# div id=div-2 służy do ukrywania i odkrywania danych o szczepieniach   #}
        <div id="div-2">
            {#            <hr class="my-2">#}
            {#    program szczepień    #}
            <ul class="lead">


                {#   cykl szczepień dla gruźlicy   #}
                <p class="font-weight-bold">{{ vc_gru|first }}</p>

                <ul class="lead">
                    {% for item in v_gru %}

                        <li class="m-2">
                            {#   jeśli brak daty szczepienia wyświetla na czerwono    #}
                            {% if not item.vax_date %}
                                <a class="text-danger">{{ item.name }}</a>
                            {% else %}
                                <a class="text-success">{{ item.name }}</a>
                            {% endif %}

                            <a href="{% url 'child-vax-update' child.id item.id %}"
                               role="button"
                               class="btn btn-info btn-sm">
                                Edytuj dane
                            </a>
                            <br>
                            wymagana data: {{ item.exp_vax_date|date:"Y / m / d" }}<br>
                            data wykonania: {{ item.vax_date|date:"Y / m / d" }}<br>
                            objawy: {{ item.symptom_after_vax }}
                        </li>

                    {% empty %}
                        {{ "To dziecko nie ma jeszcze dodanych szczepień." }}
                    {% endfor %}
                </ul>
                <hr class="my-2">


                {#    cykl szczepień dla wzw    #}
                <p class="font-weight-bold">{{ vc_wzw|first }}</p>

                <ul class="lead">
                    {% for item in v_wzw %}

                        <li class="m-2">
                            {#   jeśli brak daty szczepienia wyświetla na czerwono    #}
                            {% if not item.vax_date %}
                                <a class="text-danger">{{ item.name }}</a>
                            {% else %}
                                <a class="text-success">{{ item.name }}</a>
                            {% endif %}

                            <a href="{% url 'child-vax-update' child.id item.id %}" role="button"
                               class="btn btn-info btn-sm">Edytuj dane</a>
                            <br>
                            wymagana data: {{ item.exp_vax_date|date:"Y / m / d" }}<br>
                            data wykonania: {{ item.vax_date|date:"Y / m / d" }}<br>
                            objawy: {{ item.symptom_after_vax }}
                        </li>

                    {% empty %}
                        {{ "To dziecko nie ma jeszcze dodanych szczepień." }}
                    {% endfor %}
                </ul>
                <hr class="my-2">


                {#   cykl szczepień dla dtp   #}
                <p class="font-weight-bold">{{ vc_dtp|first }}</p>

                <ul class="lead">
                    {% for item in v_dtp %}

                        <li class="m-2">
                            {#   jeśli brak daty szczepienia wyświetla na czerwono    #}
                            {% if not item.vax_date %}
                                <a class="text-danger">{{ item.name }}</a>
                            {% else %}
                                <a class="text-success">{{ item.name }}</a>
                            {% endif %}
                            <a href="{% url 'child-vax-update' child.id item.id %}" role="button"
                               class="btn btn-info btn-sm">Edytuj dane</a>
                            <br>
                            wymagana data: {{ item.exp_vax_date|date:"Y / m / d" }}<br>
                            data wykonania: {{ item.vax_date|date:"Y / m / d" }}<br>
                            objawy: {{ item.symptom_after_vax }}
                        </li>

                    {% empty %}
                        {{ "To dziecko nie ma jeszcze dodanych szczepień." }}
                    {% endfor %}
                </ul>
                <hr class="my-2">

                {#   cykl szczepień dla ipv   #}
                <p class="font-weight-bold">{{ vc_ipv|first }}</p>

                <ul class="lead">
                    {% for item in v_ipv %}

                        <li class="m-2">
                            {#   jeśli brak daty szczepienia wyświetla na czerwono    #}
                            {% if not item.vax_date %}
                                <a class="text-danger">{{ item.name }}</a>
                            {% else %}
                                <a class="text-success">{{ item.name }}</a>
                            {% endif %}
                            <a href="{% url 'child-vax-update' child.id item.id %}" role="button"
                               class="btn btn-info btn-sm">Edytuj dane</a>
                            <br>
                            wymagana data: {{ item.exp_vax_date|date:"Y / m / d" }}<br>
                            data wykonania: {{ item.vax_date|date:"Y / m / d" }}<br>
                            objawy: {{ item.symptom_after_vax }}
                        </li>

                    {% empty %}
                        {{ "To dziecko nie ma jeszcze dodanych szczepień." }}
                    {% endfor %}
                </ul>
                <hr class="my-2">

                {#   cykl szczepień dla hib   #}
                <p class="font-weight-bold">{{ vc_hib|first }}</p>

                {#                {% for hib in vc_hib %}#}
                {#                    <p class="font-weight-bold">{{ hib.name }}</p>#}
                {#                {% endfor %}#}

                <ul class="lead">
                    {% for item in v_hib %}

                        <li class="m-2">
                            {#   jeśli brak daty szczepienia wyświetla na czerwono    #}
                            {% if not item.vax_date %}
                                <a class="text-danger">{{ item.name }}</a>
                            {% else %}
                                <a class="text-success">{{ item.name }}</a>
                            {% endif %}
                            <a href="{% url 'child-vax-update' child.id item.id %}" role="button"
                               class="btn btn-info btn-sm">Edytuj dane</a>
                            <br>
                            wymagana data: {{ item.exp_vax_date|date:"Y / m / d" }}<br>
                            data wykonania: {{ item.vax_date|date:"Y / m / d" }}<br>
                            objawy: {{ item.symptom_after_vax }}
                        </li>

                    {% empty %}
                        {{ "To dziecko nie ma jeszcze dodanych szczepień." }}
                    {% endfor %}
                </ul>
                <hr class="my-2">

                {#   cykl szczepień dla mmr   #}
                <p class="font-weight-bold">{{ vc_mmr|first }}</p>

                {#                {% for mmr in vc_mmr %}#}
                {#                    <p class="font-weight-bold">{{ mmr.name }}</p>#}
                {#                {% endfor %}#}

                {#   szczepienia w cyklu mmr   #}
                <ul class="lead">
                    {% for item in v_mmr %}

                        <li class="m-2">
                            {#   jeśli brak daty szczepienia wyświetla na czerwono    #}
                            {% if not item.vax_date %}
                                <a class="text-danger">{{ item.name }}</a>
                            {% else %}
                                <a class="text-success">{{ item.name }}</a>
                            {% endif %}
                            <a href="{% url 'child-vax-update' child.id item.id %}" role="button"
                               class="btn btn-info btn-sm">Edytuj dane</a>
                            <br>
                            wymagana data: {{ item.exp_vax_date|date:"Y / m / d" }}<br>
                            data wykonania: {{ item.vax_date|date:"Y / m / d" }}<br>
                            objawy: {{ item.symptom_after_vax }}
                        </li>

                    {% empty %}
                        {{ "To dziecko nie ma jeszcze dodanych szczepień." }}
                    {% endfor %}
                </ul>
                <hr class="my-2">

            </ul>

        </div>

    </div>
{% endblock %}