{% extends 'base.html' %}

{% block title %} MyVax {{ parent }} {% endblock %}



{% block content %}

    <div class="jumbotron py-2 px-4">
        <h3 class="display-5">O aplikacji</h3>
        <p class="lead">Po zarejestrowaniu dziecka w aplikacji będziesz otrzymywać na podany adres e-mail
            przypomnienia o zbliżających się terminach szczepień i bilansów zdrowia Twojego dziecka.</p>
        <p class="lead">Aplikacja umożliwa rejestrację dzeici urodzonych w roku 2005 i w latach późniejszych.</p>
        <p class="lead">Kalendarz szczepień wykorzystany w aplikacji jest zgodny z
            kalendarzem publikowanym corocznie przez PZH.</p>
        {# rel="noopener noreferrer" << zabezpiecza przed atakiem tabbingowym   #}
        <a target="_blank" rel="noopener noreferrer" href="https://szczepienia.pzh.gov.pl/kalendarz-szczepien/">
            Historyczne Programy Szczepień Ochronnych
        </a><br>
        <a target="_blank" rel="noopener noreferrer" href="https://szczepienia.pzh.gov.pl/kalendarz-szczepien/">
            Program Szczepień Ochronnych w 2020 roku
        </a>
        <hr class="my-4">
        <p>
            <span class="d-block mb-2">Możliwe czynności:</span>
            <a class="btn btn-success" href="" role="button">Zaloguj się</a>
            <a class="btn btn-secondary" href="" role="button">Zarejestru się</a>
        </p>

{% endblock %}