{% extends 'base.html' %}

{% block title %} MyVax {{ parent }} {% endblock %}



{% block content %}

    <div class="jumbotron py-2 px-4">
        <h3 class="display-5">O aplikacji</h3>
        <p class="">Po zarejestrowaniu dziecka w aplikacji i uzupełnieniu danych będziesz otrzymywać na podany adres e-mail
            przypomnienia o zbliżających się terminach szczepień i bilansów zdrowia Twojego dziecka.</p>
        <p class="mark">Aplikacja obsługuje programy szczepień dla dzieci urodzonych w roku 2005 i w latach późniejszych.</p>
        <p class="">Programy szczepień wykorzystane w aplikacji są zgodne z
            danymi publikowanymi corocznie przez PZH.</p>
        {# rel="noopener noreferrer" << zabezpiecza przed atakiem tabbingowym   #}
        <a target="_blank" rel="noopener noreferrer" href="https://szczepienia.pzh.gov.pl/kalendarz-szczepien/">
            Historyczne Programy Szczepień Ochronnych
        </a><br>
        <a target="_blank" rel="noopener noreferrer" href="https://szczepienia.pzh.gov.pl/kalendarz-szczepien/">
            Program Szczepień Ochronnych w 2020 roku
        </a>
        <hr class="my-2">
        <p>
            <span class="d-block mb-2">Możliwe czynności:</span>
            <a class="btn btn-success" href="{% url 'login' %}" role="button">Zaloguj się</a>
            <a class="btn btn-secondary" href="{% url 'signup' %}" role="button">Zarejestruj się</a>
        </p>

{% endblock %}